<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579972436408-bq3j1g1hpk1q63j07glqeduvojbsthmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579972436408-bq3j1g1hpk1q63j07glqeduvojbsthmc</string>
	<key>API_KEY</key>
	<string>AIzaSyC1e59Y-GviUm6Zp0eQklRRPfSGlxw34Ps</string>
	<key>GCM_SENDER_ID</key>
	<string>579972436408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PocketNotes.pocketnotes</string>
	<key>PROJECT_ID</key>
	<string>pocketnotesapp</string>
	<key>STORAGE_BUCKET</key>
	<string>pocketnotesapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579972436408:ios:f82c15d27ab66e20b33f4d</string>
</dict>
</plist>